{{>layout/header}}

        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel"> 
                <div class="x_title"> 
                  <h2>HOME > 데이터 전송 관리 > 실패 로그 보기</h2>
                  <div class="clearfix"> </div>
                </div>
                <div class="x_content"> <br>
                  <div class="border_rows">
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label">데이터셋</div>
                        <div class="form-control_box">문화재데이터</div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label">파일위치</div>
                        <div class="form-control_box">C:\\문화재데이터\\table_nm.csv</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label">전송주기</div>
                        <div class="form-control_box">매년 01월 01-01 01:10</div>
                      </div>
                      <div class="form-group row col-12 col-md-6">
                        <div class="control-label">갱신일</div>
                        <div class="form-control_box">2022-02-01 01:10:00</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel"> 
                <div class="x_title"> 
                  <h2>HOME > 데이터 전송 관리 > 실패 로그 보기</h2>
                  <div class="clearfix"> </div>
                </div>
                <div class="x_content"> 
                  <div class="table_responsive">
                    <div class="talbel_total">총 1개</div>
                    <table class="table table-striped">
                      <colgroup> 
                        <col width="25%">
                      </colgroup>
                      <thead>
                        <tr> 
                          <th>실패로그</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                          	2018/10/03 23:12:28 [WARN] consul.fsm: EnsureRegistration failed: failed inserting node: Error while renaming Node ID: "af57f171-44ed-b905-1452-8dfc775afb40": Node name node2 is reserved by node cc5f253c-7498-4d8b-519b-6ad213139023 with name node2
2018/10/03 23:12:28 [WARN] consul.fsm: EnsureRegistration failed: failed inserting node: Error while renaming Node ID: "af57f171-44ed-b905-1452-8dfc775afb40": Node name node2 is reserved by node cc5f253c-7498-4d8b-519b-6ad213139023 with name node2
2018/10/03 23:12:28 [WARN] consul.fsm: EnsureRegistration failed: failed inserting node: Error while renaming Node ID: "af57f171-44ed-b905-1452-8dfc775afb40": Node name node2 is reserved by node cc5f253c-7498-4d8b-519b-6ad213139023 with name node2
2018/10/03 23:12:28 [WARN] consul.fsm: EnsureRegistration failed: failed inserting node: Error while renaming Node ID: "af57f171-44ed-b905-1452-8dfc775afb40": Node name node2 is reserved by node cc5f253c-7498-4d8b-519b-6ad213139023 with name node2
2018/10/03 23:12:28 [WARN] consul.fsm: EnsureRegistration failed: failed inserting node: Error while renaming Node ID: "af57f171-44ed-b905-1452-8dfc775afb40": Node name node2 is reserved by node cc5f253c-7498-4d8b-519b-6ad213139023 with name node2
2018/10/03 23:12:28 [WARN] consul.fsm: EnsureRegistration failed: failed inserting node: Error while renaming Node ID: "af57f171-44ed-b905-1452-8dfc775afb40": Node name node2 is reserved by node cc5f253c-7498-4d8b-519b-6ad213139023 with name node2
2018/10/03 23:12:28 [WARN] consul.fsm: EnsureRegistration failed: failed inserting node: Error while renaming Node ID: "af57f171-44ed-b905-1452-8dfc775afb40": Node name node2 is reserved by node cc5f253c-7498-4d8b-519b-6ad213139023 with name node2
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- modal -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                <button class="close" type="button" data-dismiss="modal"></button><span aria-hidden="true">&times;</span>
              </div>
              <div class="modal-body"><a class="btn btn-primary" href="modal.html">모달 바로가기 </a></div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button">Save changes</button>
              </div>
            </div>
          </div>
        </div>

{{>layout/footer}}