{{>layout/header}}

        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel"> 
                <div class="x_title"> 
                  <h2>HOME > 데이터 전송 목록</h2>
                  <div class="clearfix"> </div>
                </div>
                <div class="x_content"> 
                  <div class="table_responsive">
                    <div class="talbel_total">총 1개</div>
                    <table class="table table-striped">
                      <colgroup> 
                        <col width="55px">
                      </colgroup>
                      <thead>
                        <tr> 
                          <th>NO</th>
                          <th>전송일자</th>
                          <th>전송파일목록</th>
                          <th>전송파일(개수)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>매년 01월 01-01 01:10</td>
                          <td>
                            <ol>
	                          <li><a class="btn btn-dark btn-sm mx-0" href="#">파일목록</a></li>
	                        </ol>
                          </td>
                          <td>100</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>매년 01월 01-01 01:10</td>
                          <td>
                            <ol>
	                          <li><a class="btn btn-dark btn-sm mx-0" href="#">파일목록</a></li>
	                        </ol>
                          </td>
                          <td>100</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="nav justify-content-center"> 
                      <ul class="pagination"> 
                        <li class="page-item"> <a class="page-link" href="#">&lt; </a></li>
                        <li class="page-item"> <a class="page-link" href="#">1   </a></li>
                        <li class="page-item"> <a class="page-link" href="#">2 </a></li>
                        <li class="page-item"> <a class="page-link" href="#">&gt;           </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- modal -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                <button class="close" type="button" data-dismiss="modal"></button><span aria-hidden="true">&times;</span>
              </div>
              <div class="modal-body"><a class="btn btn-primary" href="modal.html">모달 바로가기 </a></div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button">Save changes</button>
              </div>
            </div>
          </div>
        </div>

{{>layout/footer}}